# OpenAI
OPENAI_API_KEY=
MODEL=

# ElevenLabs
ELEVENLABS_API_KEY=
ELEVENLABS_AGENT_ID=

# Twilio Configuration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

#Firecrawl.dev
FIRECRAWL_API_KEY=

#Ngrok
NGROK_API_KEY=

#Static ngrok URL
NGROK_URL=


#Database
DATABASE_URL=sqlite:///./voice_interviews.db

